<!-- <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Gerenciamento de carros</li>
    </ol>
</nav>
<div class="container">
    <div class="card list-car">
        <h5 class="card-header">Lista de carros</h5>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">role</th>
                        <th scope="col">type</th>
                        <th scope="col">area</th>
                        <th scope="col">salary</th>
                        <th scope="col">quantity</th>
                        <th scope="col">requirements</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vacancy of vacancies.candidates">
                        <td>{{vacancy.id}}</td>
                        <td>{{vacancy.role}}</td>
                        <td>{{vacancy.type}}</td>
                        <td>{{vacancy.area}}</td>
                        <td>{{vacancy.salary | currency}}</td>
                        <td>{{vacancy.quantity}}</td>
                        <td>{{vacancy.requirements}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> -->


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
<div class="card" style="width: 60%; margin: 3% auto;">
    <div class="card-body d-flex flex-column">
        <h1 class="align-self-center">Lista de Vagas</h1>
        <div class="card list-vagas">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">role</th>
                            <th scope="col">type</th>
                            <th scope="col">area</th>
                            <th scope="col">salary</th>
                            <th scope="col">quantity</th>
                            <th scope="col">requirements</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let vacancy of vacancies.candidates">
                            <td>{{vacancy.id}}</td>
                            <td>{{vacancy.role}}</td>
                            <td>{{vacancy.type}}</td>
                            <td>{{vacancy.area}}</td>
                            <td>{{vacancy.salary | currency}}</td>
                            <td>{{vacancy.quantity}}</td>
                            <td>{{vacancy.requirements}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card" style="width: 60%; margin: 3% auto;">
        <h2 style="text-align: center;">Filtrar empresa por: </h2>
        <div class="row" style="text-align: center;">
            <div class="col">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="CheckVagas" [(ngModel)]="checkVagas"
                        (change)="filter('checkVagas')">
                    <label class=" form-check-label" for="flexSwitchCheckDefault">Mais Vagas</label>
                </div>
            </div>
            <div class="col">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="CheckSalario" [(ngModel)]="checkSalario"
                        (change)="filter('checkSalario')">
                    <label class="form-check-label" for="flexSwitchCheckDefault">Salário Maior</label>
                </div>
            </div>
        </div>
        <br>
        <h2 style="text-align: center;">Procurar por requisitos: </h2>
        <label style="text-align: center; color: red;">Separar cada requisito por "-"</label>
        <label style="text-align: center; color: red;">(Ex: requisito1-requisito2-requisito3)</label>
        <div class="col">
            <div class="col">
                <input type="search" class="form-control" id="inputRequisitos" [(ngModel)]='inputRequisitos'>
                <br>
            </div>
            <div style="text-align: center;">
                <button class="btn btn-primary" type="submit" (click)='search()'>Procurar</button>
            </div>
        </div>
        <br>
    </div>
</div>