<div class="card" style="width: 50%; margin: 10% auto">
    <div class="card-body d-flex flex-column">
        <h1 class="align-self-center">Quem é você?</h1>
        <button mat-raised-button color="primary" class="mb-4" routerLink="/candidate">
            <mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon> Candidato
        </button>
        <button mat-raised-button color="primary" routerLink="/company">
            <mat-icon aria-hidden="false" aria-label="Example home icon">domain</mat-icon> Empresa
        </button>
    </div>
</div>